.fitness-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  padding-top: 100px;
}

.fitness-title-container {
  width: 100vw;
}

.fitness-title {
  font-size: 50px;
  height: 0px;
  margin-bottom: 0;
  font-family: "Candal", cursive;
  color: white;
  -webkit-text-stroke: 0.5px #2c365e;
  text-shadow: -4px 4px #2c365eb3;
}

.fitness-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.fitness-image {
  width: 500px;
  border-radius: 10px;
  box-shadow: -5px 5px 20px #7293a0;
}

.fitness-description-parent {
  margin: 20px;
  justify-content: center;
}

.fitness-description-container {
  text-align: left;
  padding-top: 20px;
  margin: 10px;
}

.fitness-description-title {
  text-align: left;
  font-family: "Righteous", cursive;
  font-size: 30px;
  margin: 10px;
  color: #2c365e;
}

.fitness-links-parent {
  display: flex;
  text-align: left;
  justify-content: start;
  margin: 10px;
  margin-top: 50px;
}

.fitness-link {
  font-size: 20px;
  padding-right: 40px;
}

.fitness-link:hover {
  color: #45b69c;
}
