.fitness-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.fitness-title-container {
  width: 100vw;
}

.fitness-title {
  font-size: 50px;
}

.fitness-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.fitness-image {
  width: 500px;
  border-radius: 10px;
  box-shadow: -2px 2px 10px black;
}

.fitness-description-parent {
  margin: 20px;
  justify-content: center;
}

.fitness-description-container {
  text-align: left;
  margin: 10px;
}

.fitness-links-parent {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  margin-top: 100px;
}
