.health-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  padding-top: 100px;
}

.health-title-container {
  width: 100vw;
}

.health-title {
  font-size: 50px;
  height: 0px;
  margin-bottom: 0;
  font-family: "Candal", cursive;
  color: white;
  -webkit-text-stroke: 0.5px #2c365e;
  text-shadow: -4px 4px #2c365eb3;
}

.health-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  padding-top: 300px;
}

.health-image {
  width: 500px;
  border-radius: 25px;
  box-shadow: -5px 5px 20px #7293a0;
}

.health-description-parent {
  margin: 20px;
  justify-content: center;
}

.health-description-container {
  text-align: left;
  padding-top: 20px;
  margin: 10px;
}

.health-description-title {
  text-align: left;
  font-family: "Righteous", cursive;
  font-size: 30px;
  margin: 10px;
  color: #2c365e;
}

.health-description {
  font-size: 20px;
}

.health-links-parent {
  display: flex;
  text-align: left;
  justify-content: start;
  margin: 10px;
  margin-top: 50px;
}

.health-link {
  font-size: 20px;
  padding-right: 40px;
}

.health-link:hover {
  color: #45b69c;
}

a:visited,
a:link {
  text-decoration: none;
  font-family: "Righteous", cursive;
  color: #ef3f36bd;
}

@media screen and (max-width: 750px) {
  .health-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 100px;
    padding-top: 80px;
  }

  .health-image {
    width: 350px;
    height: 350px;
  }
}
