.home-parent {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-parent {
}

.intro-name {
  font-size: 100px;
  font-family: "Candal", cursive;
  color: white;
  -webkit-text-stroke: 2px #2c365e;
  text-shadow: -8px 8px #2c365eb3;
}

.intro-quote {
  font-size: 50px;
  font-family: "Candal", cursive;
  color: white;
  -webkit-text-stroke: 2px #2c365e;
  text-shadow: -4px 4px #2c365eb3;
}
