.kitchintory-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  padding-top: 100px;
}

.kitchintory-title-container {
  width: 100vw;
}

.kitchintory-title {
  font-size: 50px;
  height: 0px;
  margin-bottom: 0;
  font-family: "Candal", cursive;
  color: white;
  -webkit-text-stroke: 0.5px #2c365e;
  text-shadow: -4px 4px #2c365eb3;
}

.kitchintory-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.kitchintory-image {
  width: 500px;
  border-radius: 25px;
  box-shadow: -5px 5px 20px #7293a0;
}

.kitchintory-description-parent {
  margin: 20px;
  justify-content: center;
}

.kitchintory-description-container {
  text-align: left;
  padding-top: 20px;
  margin: 10px;
}

.kitchintory-description-title {
  text-align: left;
  font-family: "Righteous", cursive;
  font-size: 30px;
  margin: 10px;
  color: #2c365e;
}

.kitchintory-description {
  font-size: 20px;
}

.kitchintory-links-parent {
  display: flex;
  text-align: left;
  justify-content: start;
  margin: 10px;
  margin-top: 50px;
}

.kitchintory-link {
  font-size: 20px;
  padding-right: 40px;
}

.health-link:hover {
  color: #45b69c;
}

@media screen and (max-width: 750px) {
  .kitchintory-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 150px;
    min-height: fit-content;
  }

  .kitchintory-image {
    width: 350px;
    height: 350px;
  }
}
