.nav-parent {
  background-color: aqua;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.nav-name {
  margin: 20px;
}

.nav-title-parent {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-between;
}

.nav-title {
  background-color: bisque;
}

.nav-links {
  background-color: blueviolet;
  margin: 20px;
}

.nav-links:link,
.nav-links:visited {
  text-decoration: none;
  color: black;
}
