.work-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px;
}

.work-title-container {
  width: 100vw;
  margin: 20px;
}

.work-title {
  margin: 20px;
  font-size: 50px;
  font-family: "Candal", cursive;
  color: white;
  -webkit-text-stroke: 0.5px #2c365e;
  text-shadow: -4px 4px #2c365eb3;
}

.link-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  font-family: "Righteous", cursive;
  font-size: 20px;
}

.work-link:hover {
  color: #45b69c;
}

.work-link {
  margin: 30px;
}

.work-fittrack-container {
  margin: 20px;
}

.work-kitchintory-container {
  margin: 20px;
}

.work-healthelite-container {
  margin: 20px;
}

.work-link:visited,
.work-link:link {
  text-decoration: none;
  color: #ef3f36bd;
}

.work-link:hover {
  color: #45b69c;
}

.work-image {
  height: 400px;
  width: 400px;
  border: 2px solid #7293a0;
  box-shadow: -5px 5px 20px #7293a0;
  border-radius: 10px;
}
