.work-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.work-title-container {
  width: 100vw;
  margin: 20px;
}

.work-title {
  margin: 20px;
}

.link-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
}

.work-link {
  margin: 30px;
}

.work-fittrack-container {
  margin: 20px;
}

#fittrack {
}

.work-kitchintory-container {
  margin: 20px;
}

#kitchintory {
}

.work-healthelite-container {
  margin: 20px;
}

#healthelite {
}

.work-link:visited,
.work-link:link {
  text-decoration: none;
  color: black;
}

.work-image {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  box-shadow: -2px 2px 10px black;
  border-radius: 10px;
}
